.sign-on {
    margin: .5em .5em 0 .5em;
    height: 70vh;
    background-image: url("https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I");
    background-size: cover;
}

